<p id="notice"><%= notice %></p>

<p>
  <strong>Documentary name:</strong>
  <%= @documentary.documentary_name %>
</p>

<p>
  <strong>Book name:</strong>
  <%= @documentary.book_name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @documentary.slug %>
</p>

<p>
  <strong>Views:</strong>
  <%= @documentary.views %>
</p>

<p>
  <strong>Price:</strong>
  <%= @documentary.price %>
</p>

<p>
  <strong>Books:</strong>
  <%= @documentary.books_id %>
</p>

<%= link_to 'Edit', edit_documentary_path(@documentary) %> |
<%= link_to 'Back', documentaries_path %>
